@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

$font-stack: "Raleway", sans-serif;
$background-color: #2A9D8F;

html {
    height: 100%;
}
  
body {
    color: #FFFFFF;
    background-image: linear-gradient(to right, $background-color, lighten($background-color, 40%));
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    font-family: $font-stack;
}

#root {
    width: 50%;
    margin: auto;
    height: 100%;
}
