@import "base";

.profile-card {
    background-color: $font-green;
    width: 60%;
    height: 70vh;
    float: right;
    margin-top: 5rem;
    margin-right: 10rem;
    border-radius: 10%;
    box-shadow:inset 0px 0px 0px 10px #9BC6D4;
}

.profile-image {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin: 2rem 6rem; 
}

.profile-line-break {
    width: 30%;
    border: none;
    height: 5px;
    background-color: $background-color;
}

.profile-text {
    margin: 2rem 6rem;
    color: $background-color;
}

